@page "/pump123456789101112"

<PageTitle>Counter One</PageTitle>

<h1>Counter PumpCalculater</h1>

<div class="container text-center">
    <div class="row">
        <div class="col-sm-4">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">First</th>
                        <th scope="col">Last</th>
                        <th scope="col">
                            <select class="form-control" @onchange="@OnSelect" style="width:150px">
                                @foreach (var template in templates)
                                {
                                    <option value=@template>@template</option>
                                }
                            </select>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>
                            <select class="form-control" @onchange="@OnSelectInt" style="width:150px">
                                @foreach (var inttemplate in inttemplates)
                                {
                                    <option value=@inttemplate>@inttemplate</option>
                                }
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>
                            <select class="form-control" value="@pumpSelections.stories" @onchange="@OnSelectStories" style="width:150px">
                                @foreach (var storey in stories)
                                {
                                    <option value=@storey>@storey</option>
                                }
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td colspan="2">Larry the Bird</td>
                        <td>twitter</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-sm-8">
            Column
            <p role="status">Total: @currentCount</p>
            <h5>Selected Country is: @selectedString</h5>
            <h5>Selected Value: @selectedValue</h5>
            <h5>New Value: @newValue</h5>
            <h5>New Value: @pumpSelections.stories</h5>
        </div>

    </div>
</div>



<!-- <button class="btn btn-primary" @onclick="IncrementCount">Click me</button>
    -->

@code {
    List<string> templates = new List<string>() { "America", "China", "India", "Russia", "England" };
    List<int> inttemplates = new List<int>() { 1,2,3,4,5,6,7,8,9,10,11,12};
    List<int> stories = new List<int>() { 1, 2, 3, 4, 5, 6, 7, 8, 9, 10 };
    string selectedString = "China";
    string selectedValue = "10";
    int newValue;

    private int currentCount = 0;

    struct PumpSelections
    {
        public int apartments;
        public int stories;

        public PumpSelections (int a, int b)
        {
            apartments = a;
            stories = b;
        }
    }

    PumpSelections pumpSelections = new PumpSelections(10,9);
    //pumpSelections.stories = 10;

    void OnSelectStories(ChangeEventArgs e)
    {
        pumpSelections.stories = int.Parse(e.Value.ToString());
    }

    void OnSelectInt(ChangeEventArgs e)
    {

        selectedValue = e.Value.ToString();
        newValue = int.Parse(selectedValue);

    }
    void OnSelect(ChangeEventArgs e)
    {
        selectedString = e.Value.ToString();

        Console.WriteLine("The selected country is : " + selectedString);
    }
    //  private void IncrementCount()
    //  {
    //      currentCount++;
    //  }
}

